*{
    margin: 0px;
    padding: 0px;
}
.nav-bar{
    position: fixed;
    width: 100%;
}
.navbar_list{
    background-color: rgb(223, 108, 108);
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    height: 75px;
}
.navbar_list_item{
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 20px;
}
.navbar_list_item:hover{
    background-color: rgb(166, 170, 187);
}
.navbar_text{
    text-decoration: none;
    color: white;
}
.header{
    height: 630px;
    width: 100%;
    background-color: rgb(53, 56, 53);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
h1{
    font-size: 4rem;
    color: white;
}
h2{
    font-size: 2rem;
    color: burlywood;
}
main{
    background-color:#697fb9;
    height: 1350px;
}
.main_header{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-top: 80px;
    padding-bottom: 0px;
}
.main_header-underline{
    margin-top: -15px;
}
.main_container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 30px;
}
.main_projects{
    height: 400px;
    width: 400px;
    padding: 20px;
    padding-bottom: 0px;
}
.main_project-text{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 31, 19);
    height: 60px;
    width: 400px;
    margin-top: -4px;
    margin-left: 20px;
}
.main_project_a{
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}
.main_button{
    display: flex;
    justify-content: center;
    margin-top: 90px;
    margin-bottom: 100px;
}
.show-all-btn{
    background-color: rgb(37, 31, 19);
    font-size: 20px;
    height: 30px;
    width: 150px;
    text-align: center;
    padding-top: 10px;
    list-style-type: none;
    text-decoration: none;
    color: white;
}
.section_icons{
    height: 450px;
    width: 100%;
    background-color: rgb(149, 149, 150);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    border-bottom: solid 4px rgb(172, 37, 37);
}
.section_text1{
    font-size: 4rem;
}
.section_text2{
    font-size: 1.5rem;
}
.social-media-icons{
    display: flex;
    list-style-type: none;
    padding-top: 20px;
    font-size: 20px;
}
.icons{
    color: red;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 20px;
}
.icons:hover{
    transform: scale(1.1);
}
.section_icons_a{
    list-style-type: none;
    text-decoration: none;
    color: white;
}
.footer{
    display: flex;
    justify-content: space-around;
    background-color: rgb(130, 141, 148);
    color: white;
}  
.footer_text{
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 20px;
    font-family:'Raleway', sans-serif;;
}
.footer_a{
    list-style-type: none;
    text-decoration: none;
    color: white;
}
